/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*---------------genera--------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Playfair Display', serif;
}
ol,
ul,a {
    list-style: none;
    text-decoration: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----------------fonts------------------------*/
@font-face{
    font-family: Montserrat-Light;
    src: url(../../fonts/monserrat/montserrat-light-webfont.woff);
}
@font-face{
    font-family: montserrat-regular;
    src: url(../../fonts/monserrat/montserrat-regular-webfont.woff);
}
@font-face{
    font-family: MyriadProRegular;
    src: url(../../fonts/myriad/MyriadPro-Regular.woff);
}
@font-face{
    font-family: MyriadPro-Light;
    src: url(../../fonts/myriad/MyriadPro-Light.woff);
}
//FONT-FAMILY
$ML: Montserrat-Light;
$MR: montserrat-regular;
$MYR: MyriadProRegular;
$MYL: MyriadPro-Light;
/*--------------------------------structur--------------------------------------------*/
.container{
    max-width: 1440px;
    padding: 0;
    @media screen and (max-width: $break-laptop) {
        padding: 0 10px 0 10px;
    }
}
a:hover{
    opacity: .25;
}