.banner-house{
    background: url(../../image/house-banner.png);
    background-size: cover;
    background-position: center;
    h3{
        font-family: $MYR;
        font-size: $fz-3h;
        color: $white;
        text-align: center;
        margin: auto;
        padding: 10% 0;
        @media screen and (max-width:$bp-h){
            font-size: 6.5vmin;
        }
    }
}
.slider-grid{
    width: 100%;
    overflow: hidden;
    img{
        width: 100%;
        max-height: 560px;
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    bottom: 10%;
}
.slick-dots li button:before{
    content: '';
    width: 12px;
    height: 12px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before
{
    background:#ef4136;
    border: #ef4136;
}
#section-learn{
    .row{
        margin: 0;
        .column-grid-s{
            width: 46.25%;
            .sub-section{
                max-width: 465px;
                margin: auto;
                h4{
                    font-size: $fz-4h;
                    font-family: $MYR;
                    //font-weight: bold;
                }
                p{
                    line-height: 36px;
                    font-size: $fz-p1;
                    font-family:$MYR;
                    padding: 35px 0 50px 0;
                } 
            }
            .vision-sub{
                h4{
                    font-family: $MR;
                    font-weight: bold;
                }
            }
            .project-sub{
                h4{
                    font-family: $MR;
                    font-weight: bold;
                    opacity: 0.65;
                }
            }
        }
        .column-grid-l{
            width: (100 - 46.25) *1%;
            img{
                width: 100%;
                height: auto;
            }
        }
        @media screen and (max-width: 1120px) {
            max-height: none;
            height: auto;
            .column-grid-s{
                order: 1;
                width: 100%;
                padding: 20px 0;
                text-align: center;
                .sub-section{
                    padding: 0 10px;
                    max-width: 700px;
                    h4{
                        font-size: 5.5vmin;
                    }
                    p{
                        font-size: 4vmin;
                        line-height: 5.5vmin;
                    }
                }
                a{
                    margin: auto;
                }
            }
            .column-grid-l{
                order: 2;
                width: 100%;
            }
        }
    }
}
.btn-red{
    background: #ef4136;
    color: $white;
    font-family:$MYR;
    font-size: $fz-btn;
    display: block;
    max-width: 240px;
    text-align: center;
    padding: 17px 0 23px 0;
}