#section-slider{
    background: url(../../image/slider-bg.png);
    background-size: cover;
    background-position: center;
    .container{
        display: flex;
        height: 710px;
    }
    .slider-woman{
        width: 75.86206896551724%;
        margin: auto;
        &::before{
            top: 10%;
            content: '';
            position: absolute;
            left: -4.6538024971623155%;
            width: 4.6538024971623155%;
            height: 80%;
            background: #fc574d;
            display: block;
        }
        &::after{
            top: 10%;
            content: '';
            position: absolute;
            right: -4.6538024971623155%;
            width: 4.6538024971623155%;
            height: 80%;
            background: #fc574d;
            display: block;
        }
        .icon-left{
            position: absolute;
            left: -11%;
            top: 40%;
            color: #dd6a6a;
            font-size: 75px;
        }
        .icon-right{
            position: absolute;
            right: -11%;
            top: 40%;
            color: #dd6a6a;
            font-size: 75px;
        }
        .item-slider{
            background: url(../../image/content-slide2.png);
            background-size: cover;
            width: 100%;
            min-height: 320px;
            padding: 60px 0;
            .image-circle{
                display: flex;
                margin: 0 75px 0 63px;
                width: 205px;
                height: 205px;
                overflow: hidden;
                border-radius: 50%             ;
                -webkit-border-radius: 50%             ;
                -moz-border-radius: 50%             ;
                -ms-border-radius: 50%             ;
                -o-border-radius: 50%             ;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .description-woman{
                
                p{
                    font-size: 21px;
                    line-height: 42px;
                    font-family: $MYR;
                    max-width: 411px;
                    hyphens: manual;
                    -webkit-hyphens: manual;
                    -moz-hyphens: manual;
                    -ms-hyphens: manual;
                    padding-bottom: 20px;
                    display: block;
                    
                }               
                h5{
                    font-size: 21px;
                    line-height: 42px;
                    font-family: $MYR;
                }
                h6{
                    font-size: 12px;
                    line-height: 22px;
                    font-family: $MYR;
                }
            }
            @media screen and (max-width: 768px) {
                flex-direction: column;
                .image-circle{
                    margin: 0px auto;
                    width: 150px;
                    height: 150px;
                }
                .description-woman{
                    margin: auto;
                    margin: auto;
                    padding: 20px 10px 0 10px;
                    p,h5{
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                    }
                    h6{
                        font-size: 11px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .slick-dots {
        bottom: -20%;
    }
    
}
//880
//320