#section-about{
    background: url(../../image/about-background.png);
    background-size: cover;
    background-position: center;
    .main-title-about{
        color: $white;
        padding: 20% 0 18% 0%;
        h2{
            font-size: $fz-main;
            font-family:$ML ;
            margin: auto;
            display: block; 
        }
        h4{
            font-size: $fz-2main;
            max-width: 357px;
            font-family:$MYL ;
            text-align: center;
            padding-top: 35px;
        }
        @media screen and (max-width: 900px) {
            h2{
                font-size: 11vmin;
            }
            h4{
                font-size: 4vmin;
            }
        }
    }
}

/*-----------------*/

