//COLORS
$black: black;
$red: #ef4136;
$white:#ffffff;
//BREACK POINT
$bp-h:992px;
$bp-h:992px;
//FONT-SIZE 
$fz1: 16px;
$fz-btn: 18px;
$fz-p1: 18px;
$fz-p2: 21px;
$fz-1h: 21px;
$fz-4h: 30px;
$fz-3h: 48.54px;
$fz-main:126.05px;
$fz-2main:33.69px;
//MEDIA QUERIS
$break-small: 320px;
$break-large: 1200px;
$break-laptop: 1200px;
//Extend
%images {
    width: 100%;
    height: auto;
}
%font-responsive{
    @media screen and (max-width: 1120px){           
            font-size: 3vmin;
            line-height: 4.5vmin;
            @media screen and (max-width: 360px){           
             
                    font-size: 4.5vmin;
                    line-height: 6vmin;
               
            }
    }
}
//Mixis
@mixin radius ($property){
    border-radius: $property;
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    -ms-border-radius: $property;
    -o-border-radius: $property;
}