//COLORS
$black: black;
$red: #ef4136;
$white:#ffffff;
//BREACK POINT
$bp-h:992px;
//FONT-SIZE 
$fz1: 16px;
$fz-btn: 18px;
$fz-p1: 18px;
$fz-p2: 21px;
$fz-1h: 21px;
$fz-4h: 30px;
$fz-3h: 48.54px;
$fz-main:126.05px;
$fz-2main:33.69px;
//MEDIA QUERIS
$break-small: 320px;
$break-large: 1200px;
$break-laptop: 1200px;
